@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans';
  min-height: 300px;
}
body{
  opacity:0;
  transition: all 1s linear;
}

.divider{
  height: 150px;
  width:2px;
  background-color: #C0C9CE;
  position: relative;
  float: left;
}

#background-stats-1{
  background-color: #EF0107;
}

#background-stats-2{
  background-color: #C8102E;
}

#background-stats-3{
  background-color: #6CABDD;
}

#content-container{
  z-index:2;
  position:relative;
  display:table;
  height:100%;
  width:100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#content-container-center{
  display:flex;
  text-align:center;
  height:100%;
}
#result-container{
  display:flex;
  text-align:center;
  height:100%;
}
#result{
  z-index: 3;
  position: relative;
  text-align:center;
  top: 40px;
  left: 40px;
  color: #fff;
  opacity: 0.5;
  font-size: 45px;
  font-weight: 600;
}
#choice{
  transition: all 300ms linear;
  line-height:1.3em;
  background:#fff;
  box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
  align-items: center;
  font-size:40px;
  font-weight: 600;
  width: 100%;
  min-width: 400px;
  height: 160px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
}
#choice a{
  text-decoration:none;
}
#choice a:hover, #choice a:focus{
  outline:0;
  text-decoration:underline;
}

#choice .choice{
  position: relative;
  text-align: center;
  align-items: center;
}

#choice .choice .label{
  text-transform: uppercase;
}

#choice .choice.a{
  color: #EF0107;
  float: left;
  width: 33%;
}

#choice .choice.b{
  color: #C8102E;
  width: 33%;
}
#choice .choice.c{
  color: #6CABDD;
  float: right;
  width: 33%;
}
#background-stats{
  z-index:1;
  height:100%;
  width:100%;
  position:absolute;
}
#background-stats div{
  transition: width 400ms ease-in-out;
  display:inline-block;
  margin-bottom:-4px;
  width:33%;
  height:100%;
}
